<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kss.kssconsumirws_rest" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".UserDetailsActivity"
            android:label="@string/title_activity_user_details" >
        </activity>
        <activity
            android:name=".CreateUserActivity"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".DeptActivity"
            android:label="@string/title_activity_dept" >
        </activity>
        <activity
            android:name=".kss_dbf.ItemMenuDetalle"
            android:label="@string/title_activity_item_menu__detalle" >
        </activity>
        <activity
            android:name=".kss_dbf.ItemMenu_buscar"
            android:label="@string/title_activity_item_menu_buscar" >
        </activity>
        <activity
            android:name=".kss_dbf.Clientes"
            android:label="@string/title_activity_clientes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kss_dbf.ClientesDetalle"
            android:label="@string/title_activity_clientes_detalle" >
        </activity>
    </application>

</manifest>
